name: Ejecutar Script Diario

on:
  schedule:
    - cron: '55 13 * * 1-5'  # 13:55 UTC todos los días (5:55AM TJ)
    #- cron: '55 01 * * 2-6'  # 01:55 UTC todos los días (05:55PM TJ)
    - cron: '05 04 * * 2-6'  # 01:55 UTC todos los días (08:05PM TJ)

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Instalar dependencias
        run: pip install yfinance pandas numpy pytz
      - name: Ejecutar el script
        run: |
          echo "=== ANALISIS PRE-SESION NY | CORRELACIONES + SENTIMINETO ===" > output.txt
          python Correlaciones_SentimientoCryptoCompareV1.py >> output.txt
          echo "" >> output.txt
          echo "=== ESTRATEGIA DE TRADING: GAP FILL + NIVELES HISTORICOS + INDICADORES HTF ===" >> output.txt
          python ESTRATEGIA_TRADING_GAP_FILL_V3.py >> output.txt
      - name: Enviar email con resultados
        uses: dawidd6/action-send-mail@v6  # Usa la versión estable, como v3 o la más reciente (ver docs)
        with:
          server_address: smtp.gmail.com  # Para Gmail; cambia si usas otro servidor
          server_port: 465  # Puerto seguro para Gmail
          secure: true  # Usa conexión segura (SSL)
          username: ${{ secrets.MAIL_USERNAME }}  # Tu email desde secrets
          password: ${{ secrets.MAIL_PASSWORD }}  # Contraseña de app desde secrets
          from: Diego Bustillos <${{ secrets.MAIL_USERNAME }}>  # Remitente
          to: buid.1986@gmail.com  # Email donde recibirás los resultados (puedes poner varios separados por coma)
          subject: Resultados diarios de análisis de trading - ${{ github.job }}  # Asunto dinámico
          body: file://output.txt  # Adjunta el contenido del output como cuerpo de texto plano
